<div >
  <%= form_for @spot do |f|%>
  <p>
    <%= f.label :"Location Name: " %>
    <%= f.text_field :location_name, :value=> "Somewhere", id: 'location_name' , class: 'form_input'%>
  </p>

  <p>
    <%= f.label :"Latitude : " %>
    <%= f.text_field :latitude, :value=> "0", id: 'latitude' , class: 'form_input'%>
  </p>
  <p>
    <%= f.label :"Longitude : " %>
    <%= f.text_field :longitude, :value=> "0" , id: 'longitude', class: 'form_input'%>
  </p>
  <p>
    <%= f.label :"Date & Time: " %>
    <%= Time.now.strftime("%d/%m/%Y %H:%M") %>
  </p>
</div>
  <p >
     <%= f.submit "Save" , id: 'save'  %>
  </p>

  <%end %>
