<span id="tab2">  <span id="spots_favourites" style="background-color:white"> <%= link_to "Spots", spots_path %> </span>
<span id="tab">
<span id="spots_favourites"><%= link_to " Favourites", favourites_path %> </span>
<p> Here are your saved recent spots!!!</p>
<span id="spots_favourites">  <%= link_to "New spot (+)", new_spot_path%> </span>
<div id="list">
 <% @spots.each do |spot|%>

   <p>
     <%= link_to spot.location_name, spot%>
     <%= link_to "x", spot_path(spot), method: :delete, class: "delete" , data: {confirm: 'Are you sure?'} %>
   </p>

   <!-- <span class="like"><%= link_to "&hearts;".html_safe, new_favourite_path %> </span> -->
 <%end%>
</div>
