<%= form_for  @comment do |f|%>
<p>
  <%= f.label :"Comment: " %>
  <%= f.text_field :message, :value=> "Type your message here", id: 'comment' , class: 'form_input'%>
</p>
<p><%= f.submit "Post" , id: 'add'  %></p>
<%end %>
<p><%= link_to "Cancel", comments_path, id:'cancel'%> </p>
