
<%= form_for  @favourite do |f|%>

<p>
  <%= f.label :"New Nick Name: " %>
  <%= f.text_field :nick_name, :value=> "My Favourite", id: 'nick_name' , class: 'form_input'%>
</p>
<p><%= f.submit "OK" , id: 'add'  %></p>
<%end %>
<p><%= link_to "Cancel", spots_path, id:'cancel'%> </p>
