<%= image_tag("http://maps.google.com/maps/api/staticmap?center=38.9049489,-77.0336708&zoom=19&size=600x600&maptype=roadmap&sensor=false
", :alt => "Where I am?", :id=>"show_map") %>

<div>
  <p>Location name: <%= @favourite.location_name%></p>
  <p>Nick name: <%= @favourite.nick_name%></p>
  <p>Latitude: <%= @favourite.latitude%></p>
  <p>Longitude: <%= @favourite.longitude%></p>
  <p>Date created: <%= @favourite.created_at%></p>
  <p>Date updated: <%= @favourite.updated_at%></p>
</div>

<span id="tab">
<span id="spots_favourites">
    <%= link_to "Back", favourites_path %> |
    <%= link_to "Edit", edit_favourite_path(@favourite) %> |
</span>
<span >
  <%= link_to "&#x2661;".html_safe, favourite_path(@favourite), method: :delete , class: "delete"%>
</span>
