<span>
  <span id="button"> <%= link_to "Back", favourites_path %> |
  <%= link_to "Edit", edit_favourite_path(@favourite) %> |
</span>
<span >
  <%= link_to "&hearts;".html_safe, favourite_path(@favourite), method: :delete, class: "no-fav" %>
</span>
<div>Location name: <%= @favourite.location_name%></div>
<div>Street name: <%= location_name(@favourite.latitude.to_i,@favourite.longitude.to_i)%>></div>
<div>Nick name: <%= @favourite.nick_name%></div>
<div>Latitude: <%= @favourite.latitude%></div>
<div>Longitude: <%= @favourite.longitude%></div>
<div>Date created: <%= @favourite.created_at%></div>
<div>Date updated: <%= @favourite.updated_at%></div>



<!-- <div>Location Image: <%= image_tag("here_you_are.jpg", :alt => "Where I am?", :id=>"current_map") %> </div> -->
