<!DOCTYPE html>
<html>
  <head>
    <title>Tedpark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= link_to "Home", :root %> |
      <%= link_to "About", spots_about_path %> |
      <%= link_to "Contact", spots_contact_path %>
    </div>
    <%= yield %>
  </body>
</html>
