<!DOCTYPE html>
<html>
  <head>
    <title>Tedpark</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= link_to "Home", :root %> |
      <%= link_to "About", spots_about_path %> |
      <%= link_to "Contact", spots_contact_path %>
    </div>
    <% if !current_user %>
      <p>
        <span id="tab2"><%= link_to "Sign up", new_user_registration_path %><span id="tab2">
        <%= link_to "Sign in", new_user_session_path %>
      </p>
    <% else %>
      <p>
        <%= current_user.email %><span id="tab"><span id="tab2">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

      </p>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div><%= yield %></div>
  </body>
</html>
