<!DOCTYPE html>
<html>
  <head>
    <title>Tedpark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= link_to "Home", :root %> |
      <%= link_to "About", spots_about_path %> |
      <%= link_to "Contact", spots_contact_path %>
    </div>
    <% if !current_user %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    <% else %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <%= current_user.email %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
